.root{
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #c0c0c0;
    --botao-principal: #e70000;
    --botao-secundario: #a10000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--botao-secundario);
    color: var(--cor-texto-principal);
}

.principal{
    background-image: url(./img/angrybirds1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
}

.container--botao{
    background-color: var(--botao-principal);
    color: var(--botao-secundario);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
}